.navbar {
  background-color: #000;
}

.navbar-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
  padding: 10px;
}

.logo {
  width: 200px;
}

.menu a:hover {
  border-radius: 5px;
  background-color: #141414;
}
